.portfolio-card{
    width: 24%;
    margin: 0px 5px;
    margin-bottom: 30px;
    background-color: #28282845;
    height: auto;
    padding: 65px 0px;
}

.portfolio-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.portfolio-logo img{
    max-width: 80%;
    height: 90px;
    object-fit: contain;
}

.portfolio-text{
    width: 100%;
    padding: 4px 0px;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.portfolio-text p{
    color: #fff;
}