.portfolio{
    background-color: #1C1C1C;
    height: auto;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.portfolio-title{
    width: 6%;
    position: relative;
    left: -40px;
    height: 550px;  
}

.portfolio-title::before{
    display: block;
    content: "";
    position: absolute;
    left: 0px;
    width: 100px;
    background-color: #9B1C40;
    height: 150%;
}

.portfolio-title h2{
    color: #fff;
    transform: rotate(-90deg);
    position: absolute;
    font-size: 35px;
    letter-spacing: 2px;
    left: -60px;
    top: 70%;
}

.portfolio-cards{
    width: 94%;
    left: 10px;
    padding:60px 40px 0px 40px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    
}