*{
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

.App{
  overflow: hidden;
}

.container-flex{
  max-width: 95%;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}